<div id="mainBody" class="pageWrapper indexPage">
    <div id="contentPannel">
<!--  <form ref='uploadForm' 
      id='uploadForm' 
      action='upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form> --> 
    <div class="dfw-success" ng-if='uploadSuccess' style='width:90%'><p ng-bind='errSucc' style='word-break:break-all'></p></div>
		<div class="dfw-error" ng-if='error' style='width:90%'><p ng-bind='errMsg' style='word-break:break-all'></p></div>
        <form action="#" method="post" id="ccForm" name="ccForm">
			<div style="overflow:auto">
				<div class="rowLbl" style="padding-top:22px">
					<label>Pending Complimentary Files</label>&nbsp;<label
						style="color: red;">*</label>
				</div>
				<div class="rowCnt rowCnt1">
			<!-- <table class='table tableSection table-bordered table-striped'> -->
			<table class='tabular-data table table-striped table-bordered'>
				<thead>
					<tr>
						<th><div>Select All</div><span style="padding-left:8px">&nbsp<input type='checkbox' ng-change='displayHideMessages();selectAll(selectFiles)' ng-model='selectFiles'/></span></th>
						<th>File Name</th>
						<th>Record Count</th>
						<th>Uploaded Date</th>
						<th>Effective Date</th>
						<th>Export</th>
						<th>Correction</th>
						<th ng-if="CmplSupervisor">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in pendingFiles">
						<td><span><input type='checkbox' ng-model='data.selection' ng-change='checkAll($index);displayHideMessages()' ng-disabled='callDisable(data)'/></span></td>
						<td>{{data.fileName}}</td>
						<td>{{data.recordCount}}</td>
						<td>{{data.uploadedTime}}</td>
						<td>{{data.effectiveDate}}</td>
						<td style='cursor:pointer'><img src="../images/download_csv.png" width=25 height=25 ng-click='downloadFile($index,data)'/></td>
						<td style='cursor:pointer'><span style="color: grey;font-size: 20px;padding-left: 20px;" class="glyphicon glyphicon-edit" ng-click="openCorrectionPopup(data)" id="icon{{$index}}"></span></td>
						<!-- <td><a  href="" ng-csv="getSingleInvoicePDF()" csv-header='getDataHeader()' filename="{{CSVFileName}}" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}"><img src="../images/download_csv.png" width=25 height=25/></a></td> -->
						<td ng-if="CmplSupervisor" style='padding-left:15px !important;cursor:pointer'><img src="../images/delete_disabled.png" id='img{{$index}}' width=25 height=25 ng-click='openConfirmPopup(data)' ng-disabled='!data.selection'/></td>
					</tr>
					<tr ng-if="pendingFiles.length==0"><td>No records found</td></tr>
				</tbody>
			</table>
			</div>
<!-- <div class="fileUpload btn btn-primary">
    <span>Browse</span>
    <input id="uploadBtn" type="file" class="upload" file-model="myFile" accept=".csv"/>
</div> -->
				<!-- <div class="rowCnt">
					<input type="file" class="form-control searchInput"
						 file-model='bulkLoad.file'>
				</div>
				 <div class="searchTd m-t-10" style='width:33%;float:left;'>
				<input type="button" value="Browse" class="btn">
				</div> -->
				<!-- <div class="rowLbl" style='padding-top: 0;width:100%'><label>Download the sample template <a  href="" ng-click='getSingleInvoicePDF()'>here</a></label></div> -->
			</div>
			<div style="overflow:auto">
				<div class="rowLbl" style="padding-top:22px">
					<label>Business Justification</label>&nbsp;<label
						style="color: red;">*</label>
				</div>
				<div class="rowCnt rowCnt1">
				<textarea maxlength="512" rows="4" cols="50" ng-model="cc.busJust"  class="form-control" style='height:auto !important;resize:none' ng-change="displayHideMessages()"> 
</textarea>
				</div>
			</div>
			<div style="overflow:auto">
				<div class="rowLbl" style="padding-top:22px">
					<label>File Description</label>&nbsp;<label
						style="color: red;">*</label>
				</div>
				<div class="rowCnt rowCnt1">
				<textarea maxlength="512" rows="4" cols="50" ng-model="cc.fileDesc"  class="form-control" style='height:auto !important;resize:none' ng-change="displayHideMessages()"> 
</textarea>
				</div>
			</div>
			<div style="overflow:auto">
				<div class="rowLbl" style="padding-top:22px">
					<label>Request ID/Project ID</label>&nbsp;<label
						style="color: red;">*</label>
				</div>
				<div class="rowCnt rowCnt1">
				<input type="text" maxlength="20" class="form-control searchInput" ng-model="cc.requestId" ng-change="displayHideMessages()"> 
				</div>
			</div>
			<div style="overflow:auto">
				<div class="rowLbl" style="padding-top:22px">
					<label>Effective Date</label>&nbsp;<label
						style="color: red;">*</label>
				</div>
				<div class="rowCnt rowCnt1">
				<input type="text" id='effectiveDate' readonly class="form-control datepick dfw-viewer-input searchInput" ng-model="cc.effectiveDate" style='background:url(../../images/icon-date-time-16x16.png) no-repeat right' ng-change="displayHideMessages()"> <!-- <span
										class="dfw-date-time-icon-16-for-form form-control-feedback calendarIcon"
										aria-hidden="true"></span> -->
				</div>
			<!-- 	<div class="searchTd m-t-10" style='width:33%;float:left;'>
				<input type="button" value="Reset" class="btn" ng-click='reset()'>
				<input type="button" value="Upload" class="btn">
				</div> -->
				<div class="rowLbl" style='margin-top:-20px;width:33%'><label style="font:9px Verdana, Geneva, sans-serif !important">(MM/DD/YYYY HH:MM)</label></div>
			</div>
			<div style="overflow:auto">
				<div class="rowLbl" style="padding-top:8px">
					<label>Action Priority</label>&nbsp;<label
						style="color: red;">*</label>
				</div>
				<div class="rowCnt rowCnt1" style="padding-top:4px">
				<input type="radio" class="form-contro" name='priority' ng-model="cc.priority" value='NONE' ng-change="displayHideMessages()">&nbsp<label style='margin-right:10px'>None</label>
				<input type="radio" class="form-contro" name='priority' ng-model="cc.priority" value='ADD' ng-change="displayHideMessages()">&nbsp<label style='margin-right:10px'>Add</label> 
				<input type="radio" class="form-contro" name='priority' ng-model="cc.priority" value='REMOVE' ng-change="displayHideMessages()">&nbsp<label style='margin-right:10px'>Remove</label> 
				</div>
			</div>
			<div style="overflow:auto">
				<div class="searchTd m-t-10" style='width:78%'>
				<input type="button" value="Update" class="btn" ng-click='uploadCmpl()' style='float:right;margin-left:20px' ng-if="showUploadCCButton" ng-disabled="cc.fileDesc && cc.busJust && cc.requestId && cc.priority && isSelected?false:true">
				<input type="button" value="Reset" class="btn" ng-click='reset()' style='float:right' ng-if="showUploadCCButton">
				</div>
			</div>
		</form>
        </div>
        </div>
<div id="mydiv" ng-if="uploadCCClicked">
    <div class='loaderdiv'><div style='text-align:center;background-color:#ccc;color: black;font-weight: bold;padding: 3px;'>Processing,please wait...</div><div style='margin-left:5%;margin-top: 15px;'><img src="images/spin.gif" class="ajax-loader" width="90%" height='10'/></div></div>
	</div>