<div id="mainBody" class="pageWrapper indexPage">
    <div id="contentPannel">

        <form action="#" method="post" id="acctDetailsform" name="acctDetailsform">

            <div class="contentWrapper" style="width:99%">
            		<div class="topTitle">
            				<div style=float:left;width:auto'>DNS files processing summary as of {{dat}} </div>
                        	<div style='float:right' ng-if='searchType=="account"'><a ng-click="searchDNSAcc(1,20)" style="cursor:pointer">Refresh</a></div>
                        	<div style='float:right' ng-if='searchType=="file"'><a ng-click="searchDNS(1,20)" style="cursor:pointer">Refresh</a></div>
                        </div>
                <div id="leftTab-details" class="left-table purchase-summary reset" ng-hide="hideSearchFields">
                   <div id='searchTable'><table  border="0" id="summaryTab">  
                    <table  border="0" id="summaryTab">

                        <tbody>
                            <tr class="secondRow">
                                <td colspan="2">Search</td>
                            </tr>
                            <tr>
                            <td ng-if="error" style="color:red">{{errMsg}}</td>
                            </tr>
                            <tr style="height:50px"><td><span><input type='radio' name='searchType' value='file' ng-model='searchType' ng-change="init();error=false"/>File Search</span><span style='padding-left: 30px;'><input type='radio' name='searchType' value='account' ng-model='searchType' ng-change="init();error=false"/>Account Search</span></td></tr>
                            <tr ng-if='searchType=="file"'><td>File Name</td></tr>
                            <tr ng-if='searchType=="file"'>
                                <td><input type="text" ng-model='search.fileName'></td>
                            </tr>
                            <tr ng-if='searchType=="file"'>
                                <td>Request ID</td>
                             </tr>
                             <tr ng-if='searchType=="file"'>
                                <td><input type="text"  ng-model='search.reqId'></td>
                            </tr>
                            <tr ng-if='searchType=="file"'>
                                <td>Status</td>
                             </tr>
                             <tr ng-if='searchType=="file"'>
                               <td><select ng-model='search.status' style="border-top: 1px solid #ccc;border-bottom: 2px solid #e3e3e3;border-right: 2px solid #e4e4e4;border-left: 1px solid #ccc;width:95%">
                                <option value=""></option>
                                <option value="PENDING">PENDING</option>
                                <option value="INPROGRESS">INPROGRESS</option>
                                <option value="COMPLETED">COMPLETED</option>
                                </select>
                               </td>
                            </tr>
                            <tr ng-if='searchType=="account"'>
                                <td>Account Number<span style="color:red">*</span></td>
                             </tr>
                             <tr ng-if='searchType=="account"'>
                                <td><input type="text" ng-model='search.accNum' ng-change='error=false;'></td>
                            </tr>
                            <tr ng-if='searchType=="account"'>
                                <td>Package Billing Code</td>
                             </tr>
                             <tr ng-if='searchType=="account"'>
                                <td><input type="text" ng-model='search.billingCode' ng-change='error=false;'></td>
                            </tr>
                            <tr ng-if='searchType=="file"'>
                                <td>Uploaded By</td>
                             </tr>
                             <tr ng-if='searchType=="file"'>
                                <td><input type="text" ng-model='search.uploadedBy'></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                     <div class="searchTd m-t-10" ng-if='searchType=="account"'>
                    <input type="button" value="Search" ng-click="searchDNSAcc(1,20)" class="btn" class="btn" style='float:right;margin:6%'>
                     </div>
                     <div class="searchTd m-t-10" ng-if='searchType=="file"'>
                    <input type="button" value="Search" ng-click="searchDNS(1,20)" class="btn" class="btn" style='float:right;margin:6%'>
                     </div>
                     <div class="searchTd m-t-10">
                     <input type="button" value="Reset" ng-click="resetDNS()" class="btn" style='background: transparent url(../images/bg_button_spanwhite1.gif) no-repeat !important;color:#006699 !important;margin: 6% 0 0 2%;'>
                    	</div>
                </div>
                <div id="rightPanel" class="right-table purchase-table reset-history acctAct-Wrapper accntactivity_tab">
                    <div class="displayData-btn">
                        <div class="btnWrap">
                            <button id="data-close" type="button" ng-click='hideSearch()' ng-if='showExpand'>&lt;&lt;</button>
                            <button id="data-close" type="button" ng-click='openSearch()' ng-if='hideExpand'>&gt;&gt;</button>
                        </div>
                        <div class="ban_statusWrap" style='width:95%;'>
                        	<div style=float:left;width:auto' ng-if='searchType=="account"'>Summary for the Account Number: {{search.accNum}} </div>
                        </div>
                    </div>
                    <table class="table dashboardTable table-striped table-bordered" style='width:100%;margin-bottom:0px !important;border:none !important' ng-if='searchType=="file"'>
                        <thead>
                            <tr>
                                <th rowspan="2">Request ID</th>
                                <th rowspan="2">File Name</th>
                                <th rowspan="2">Status</th>
                                <th rowspan="2">Effective Date</th>
                                <th colspan="4" style='text-align: center'>Accounts</th>
                                <th colspan="2" style='text-align: center'>Execution</th>
                                <th rowspan="2">Uploaded By</th>
                                <th rowspan="2">Export</th>
                                </tr>
                                <tr>
                                <th>Total</th>
                                <th>Completed</th>
                                <th>Pending</th>
                                <th>Failed</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                </tr>
                        </thead>
                      </table>
                      <table class='tabular-data table table-striped table-bordered dashboardTable' style='border:none !important' ng-if='searchType=="file"'>
                        <tbody>
	                        <tr ng-repeat="data in DNSFiles">
	                        	<td>{{data.requestId}}</td>
	                        	<td>{{data.fileName}}</td>
	                        	<td>{{data.status}}</td>
	                        	<td>{{data.effectiveDate}}</td>
	                        	<td>{{data.totalAccounts}}</td>
	                        	<td>{{data.successAccounts}}</td>
	                        	<td>{{data.pendingAccounts}}</td>
	                        	<td><span ng-if="data.failedAccounts!=0"><a style='color:red;text-decoration:underline;cursor:pointer' ng-click="openFailedAccountsPopup(data)">{{data.failedAccounts}}</a></span><span ng-if="data.failedAccounts==0">0</span></td>
	                        	<td>{{data.startDate}}</td>
	                        	<td>{{data.endDate}}</td>
	                        	<td>{{data.lastUpdateBy}}</td>
	                        	<td style='cursor:pointer;'><img src="../images/download_csv.png" width=25 height=25 ng-click='downloadFile($index,data)'/></a></td>
	                        </tr>
                        	<tr ng-if="DNSFiles.length==0"><td>No records found</td></tr>
                        </tbody>
                         <tfoot ng-if="DNSFiles.length!=0">
			                    <td colspan="6">
			                        <div class="pagination pull-right">
			                            <ul>
			                            	<li ng-class="{disabled: currentPage == 0}">
					                				<a href ng-click="firstPage()"> First</a>
					             				 </li>
			                                <li ng-class="{disabled: currentPage == 0}">
			                                    <a href ng-click="prevPage()"><< Prev</a>
			                                </li>
			                                <li ng-repeat="n in range()"
			                                    ng-class="{active: n == currentPage}"
			                                ng-click="setPage(n)">
			                                    <a href ng-bind="n + 1">1</a>
			                                </li>
			                                <li ng-class="nextPageDisabled()">
			                                    <a href ng-click="nextPage()">Next >></a>
			                                </li>
			                                <li ng-class="nextPageDisabled()">
								                <a href ng-click="lastPage()"> Last</a>
								             </li>
			                            </ul>
			                        </div>
			                    </td>
                		</tfoot>
                    </table>
                   <!--  <label>Summary for the account number :  {{ }}</label> -->
                     <table class="tabular-data table table-striped table-bordered accTable" ng-if='searchType=="account"'>
                        <thead>
                            <tr>
                                <th>Request ID</th>
                                <th>File Name</th>
                                <th>Status</th>
                                <th>Effective Date</th>
                                <th>Package Billing Code</th>
                                <th>Action</th>
                                 <th>Status</th>
                                 <th>Last Updated TS</th>
                                <th>Last Updated By</th>
                                <th>Export</th>
                            </tr>
                        </thead>
                        <tbody>
	                        <tr ng-repeat="data in DNSAccounts | orderBy:'-effectiveDate'">
	                        	<td>{{data.requestID}}</td>
	                        	<td>{{data.fileName}}</td>
	                        	<td>{{data.status}}</td>
	                        	<td>{{data.effectiveDate}}</td>
	                        	<td>{{data.packageBillingCode}}</td>
	                        	<td>{{data.action}}</td>
	                        	<td>{{data.status}}</td>
	                        	<td>{{data.lastUpdatedTS}}</td>
	                        	<td>{{data.lastUpdatedBy}}</td>
	                        	<td style='cursor:pointer;'><img src="../images/download_csv.png" width=25 height=25/></a></td>
	                        </tr>
	                        <tr ng-if="DNSAccounts.length==0"><td>No records found</td></tr>
                        </tbody>
                         <tfoot ng-if="DNSAccounts.length!=0">
			                    <td colspan="6">
			                        <div class="pagination pull-right">
			                            <ul>
			                            	<li ng-class="{disabled: currentPage == 0}">
					                				<a href ng-click="firstPage()"> First</a>
					             				 </li>
			                                <li ng-class="{disabled: currentPage == 0}">
			                                    <a href ng-click="prevPage()"><< Prev</a>
			                                </li>
			                                <li ng-repeat="n in range()"
			                                    ng-class="{active: n == currentPage}"
			                                ng-click="setPage(n)">
			                                    <a href ng-bind="n + 1">1</a>
			                                </li>
			                                <li ng-class="nextPageDisabled()">
			                                    <a href ng-click="nextPage()">Next >></a>
			                                </li>
			                                <li ng-class="nextPageDisabled()">
								                <a href ng-click="lastPage()"> Last</a>
								             </li>
			                            </ul>
			                        </div>
			                    </td>
               			 </tfoot>
                    </table>
        </form>
        </div>
        </div>
<div id="mydiv" ng-if="searchbuttonclicked">
    <div class='loaderdiv'><div style='text-align:center;background-color:#ccc;color: black;font-weight: bold;padding: 3px;'>Processing,please wait...</div><div style='margin-left:5%;margin-top: 15px;'><img src="images/spin.gif" class="ajax-loader" width="90%" height='10'/></div></div>
	</div>